<div class="header">
  <a href="/" class="newgame">Новая игра</a>
  <h1><span class="code">Code</span>Breaker</h1>
</div>

<% if @message %>
<div class="message"><%= @message %></div>
<% end %>

<div class="game">
<table>
  <tr>
    <th>Попытка</th>
    <th>Оценка</th>
  </tr>

  <% @history.each do |record| %>
    <% if record.none? { |a| a.nil? } %>
      <tr>
        <td><%= record[0] %></td>
        <td><%= record[1] %></td>
      </tr>
    <% else %>
      <% break %>
    <% end %>
  <% end %>

  <% if @game.gameover_message %>
    <tr>
      <td colspan="2" <%= "class=\"last\"" if @game.attempts_left == 0 %>><%= @game.gameover_message %></td>
    </tr>
  <% elsif @history.last[0] %>
    <tr>
      <td><%= @history.last[0] %></td>
      <td>
        <form method="post">
          <input type="text" name="input" autofocus>
          <input type="submit" hidden>
        </form>
      </td>
    </tr>
  <% else %>
    <tr>
      <td>
        <form method="post">
          <input type="text" name="input" autofocus>
          <input type="submit" hidden>
        </form>
      </td>
      <td></td>
    </tr>
  <% end %>

  <% empty_rows = 12 - @history.size
     empty_rows -= 1 if @game.gameover_message
     empty_rows.times do %>
       <tr>
         <td></td>
         <td></td>
       </tr>
  <% end %>

  <% unless empty_rows <= -1 %>
    <tr>
      <td colspan="2" class="last">Game over</td>
    </tr>
  <% end %>
</table>
</div>
