<div><%= @message if @message %></div>
<table>
  <% @history.each do |record| %>
    <% if record.none? { |a| a.nil? } %>
      <tr>
        <td><%= record[0] %></td>
        <td><%= record[1] %></td>
      </tr>
    <% else %>
      <% break %>
    <% end %>
  <% end %>

  <% if @game.gameover_message %>
    <tr>
      <td colspan="2"><%= @game.gameover_message %></td>
    </tr>
  <% elsif @history.last[0] %>
    <tr>
      <td><%= @history.last[0] %></td>
      <td>
        <form method="post">
          <input type="text" name="input" placeholder="Evaluation" autofocus>
          <input type="submit" hidden>
        </form>
      </td>
    </tr>
  <% else %>
    <td>
      <form method="post">
        <input type="text" name="input" placeholder="Guess" autofocus>
        <input type="submit" hidden>
      </form>
    </td>
    <td></td>
  <% end %>
</table>

<a href="/">New game</a>
